<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

    <div align="center" class="container my-2">

        <a th:href = "@{/user/showNewUserForm}" class="btn btn-primary btn-sm mb-3"> Create User </a>
        <h1>Users List</h1>
        <table border="1" class = "table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th> User ID</th>
                    <th> User Full Name</th>
                    <th> User Email</th>
                    <th> User Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listOfUsers}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.userFullName}"></td>
                <td th:text="${user.userEmail}"></td>
                <td th:text="${user.userRole}"></td>
                <td><a th:href="@{/user/showFormForUpdate/{userId}(userId=${user.userId})}" class="btn btn-primary">Update</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
