<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaI6NtM6kEA5A8ykmKiw4Pq4jF86dIHNDz0W" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+rR2Q01PqKT5B6v1ou2i5l7F/Azw7Tjt+6piJw8" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDF8fHBsYW50fGVufDB8fHx8MTYxNzU3NzU3Nw&ixlib=rb-1.2.1&q=80&w=1080');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            padding-top: 70px; /* Adjusted to accommodate navbar */
        }
        .container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .btn-create {
            margin-bottom: 20px;
        }
        th, td {
            vertical-align: middle !important; /* Ensure text is vertically centered */
        }
        .navbar {
            background-color: #90EE90; /* Set navbar background color to green */
        }
        .navbar .nav-link, .navbar .navbar-brand {
            color: black !important; /* Set navbar text color to black */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="#">TINY SPROUTS</a>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item" th:if="${user.userRole == 'ADMIN'}">
                <a class="nav-link" th:href="@{/user/dashboard}">User List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/products}">Product List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-2">
    <h1 class="text-center mb-4">PRODUCT LIST</h1>
    <!-- Create Plant Button -->
    <a th:href="@{/user/newProductForm(category='plant')}" th:if="${user.userRole == 'ADMIN'}" class="btn btn-primary btn-sm btn-create">Create Plant</a>
    <!-- Plants Table -->
    <h2 class="text-center mb-4">Plants</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:if="${user.userRole == 'ADMIN'}" >ID</th>
                <th>Name</th>
                <th>Price</th>
<!--                <th>Category</th>-->
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="plant : ${combinedProduct.plants}">
                <td  th:if="${user.userRole == 'ADMIN'}" th:text="${plant.id}"></td>
                <td >
                    <a href="#" data-toggle="tooltip" th:title="'Description: ' + ${plant.description} + ', Price: ' + ${plant.price} + ', Quantity: ' + ${plant.quantity} + ', Type: ' + ${plant.typeOfPlant} + ', Sunlight: ' + ${plant.sunlightRequirements} + ', Watering: ' + ${plant.wateringFrequency}" th:text="${plant.name}"></a>
                </td>
                <td th:text="${plant.price}"></td>
<!--                <td th:text="${plant.category}"></td>-->
                <td>
                    <a th:href="@{/plant/showFormForUpdate/{id}(id=${plant.id})}" th:if="${user.userRole == 'ADMIN'}" class="btn btn-primary">Update</a>
                    <a th:href="@{/plant/deletePlant/{id}(id=${plant.id})}" th:if="${user.userRole == 'ADMIN'}"  class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Create Planter Button -->
    <a th:href="@{/user/newProductForm(category='planter')}" th:if="${user.userRole == 'ADMIN'}" class="btn btn-primary btn-sm btn-create">Create Planter</a>

    <!-- Planters Table -->
    <h2 class="text-center mb-4">Planters</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:if="${user.userRole == 'ADMIN'}" >ID</th>
                <th>Name</th>
                <th>Price</th>
<!--                <th>Category</th>-->
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="planter : ${combinedProduct.planters}">
                <td  th:if="${user.userRole == 'ADMIN'}" th:text="${planter.id}"></td>
                <td>
                    <a href="#" data-toggle="tooltip" th:title="'Description: ' + ${planter.description} + ', Price: ' + ${planter.price} + ', Quantity: ' + ${planter.quantity} + ', Material: ' + ${planter.material} + ', Dimensions: ' + ${planter.dimensions} + ', Color: ' + ${planter.color}" th:text="${planter.name}"></a>
                </td>
                <td th:text="${planter.price}"></td>
<!--                <td th:text="${planter.category}"></td>-->
                <td>
                    <a th:href="@{/planter/showFormForUpdate/{id}(id=${planter.id})}" th:if="${user.userRole == 'ADMIN'}"  class="btn btn-primary">Update</a>
                    <a th:href="@{/planter/deletePlanter/{id}(id=${planter.id})}" th:if="${user.userRole == 'ADMIN'}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Create Seed Button -->
    <a th:href="@{/user/newProductForm(category='seed')}" th:if="${user.userRole == 'ADMIN'}"  class="btn btn-primary btn-sm btn-create">Create Seed</a>

    <!-- Seeds Table -->
    <h2 class="text-center mb-4">Seeds</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:if="${user.userRole == 'ADMIN'}">ID</th>
                <th>Name</th>
                <th>Price</th>
<!--                <th>Category</th>-->
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seed : ${combinedProduct.seeds}">
                <td th:if="${user.userRole == 'ADMIN'}" th:text="${seed.id}"></td>
                <td>
                    <a href="#" data-toggle="tooltip" th:title="'Description: ' + ${seed.description} + ', Price: ' + ${seed.price} + ', Quantity: ' + ${seed.quantity} + ', Type: ' + ${seed.seedType} + ', Germination Time: ' + ${seed.germinationTime} + ' days, Season: ' + ${seed.season}" th:text="${seed.name}"></a>
                </td>

                <td th:text="${seed.price}"></td>
<!--                <td th:text="${seed.category}"></td>-->
                <td>
                    <a th:href="@{/seed/showFormForUpdate/{id}(id=${seed.id})}"  th:if="${user.userRole == 'ADMIN'}" class="btn btn-primary">Update</a>
                    <a th:href="@{/seed/deleteSeed/{id}(id=${seed.id})}" th:if="${user.userRole == 'ADMIN'}"  class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
